@import '../../assets/css/color';

.task-list {
    background-color: #ababab;
    display: inline-block;
    padding: 8px;
    position: relative;
    vertical-align: top;
    width: 250px;

    .list-header {
        .list-name {
            color: #6c6c6c;
            font-size: 1.2em;
            font-weight: bold;
        }
        .list-options {
            cursor: pointer;
            position: absolute;
            right: 6px;
            top: 6px;

            .list-options-menu {
                background-color: #212121;
                margin: 0;
                overflow: hidden;
                position: absolute;
                right: 0;
                top: 24px;
                transition-duration: 500ms;
                transform: rotateY(90deg);
                transform-origin: right;
                width: 132px;
                white-space: nowrap;

                li {
                    padding: 8px;

                    &:hover:not(.not-implemented) {
                        background-color: #707070;
                    }

                    &.not-implemented {
                        color: #7c7c7c;
                    }
                }
            }

            i {
                color: #7c7c7c;
                padding: 2px;
                transition-duration: 500ms;
            }

            &.visible {
                i {
                    transform: rotate(-90deg);
                }

                .list-options-menu {
                    // animation: open ease-in-out forwards 500ms;
                    // width: 132px;
                    transform: rotateY(0);
                }
            }

            &:hover {
                background-color: #6c6c6c;

                i {
                    color: #fff;
                }
            }
        }
    }
    &.create-list {
        background-color: rgba(171, 171, 171, 0.15);
        cursor: pointer;
        overflow: hidden;
        transition-duration: 350ms;

        &:hover {
            background-color: $card-bg;
        }
        .create-list-btn {
            i {
                vertical-align: bottom;
            }
        }
        .create-list-form {
            height: 134px;
            transition: height 250ms, transform 250ms 150ms;

            &.no-show {
                height: 0;
                transform: rotateX(90deg);
                transition: height 250ms 200ms, transform 250ms;
            }
            form {
                padding-top: 1px;
            }
        }
    }
    &.drag-over {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, .5);
    }
}

.create-list-close.open {
    left: 0;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
}
