@import '../../assets/css/color';

.full-task {
    background-color: $modal-bg;
    display: flex;
    left: 0;
    height: 100vh;
    overflow: auto;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;

    .empty-card {
        background-color: $card-bg;
        margin: 15px;
        padding: 10px 5px;
    }

    .task-contents {
        background-color: $card-bg-light;
        margin: auto;
        width: 80%;
        overflow: hidden;

        h1 {
            font-size: 2.5rem;
        }

        .task-body {
            position: relative;

            h5 {
                color: $primary-text;
            }

            .delete-icon {
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;

                &:hover {
                    color: red;
                }
            }

            .messages .input-field label {
                color: #7d7d7d;
            }

            .project-link {
                color: #7d7d7d;
                cursor: pointer;
                margin-bottom: 40px;

                &:hover {
                    color: #fff;
                }
            }

            .scroll-container {
                overflow-x: hidden;
                overflow-y: auto;
            }

            .task-info {
                .row:not(.title) {
                    background-color: $card-bg;
                    margin-bottom: 10px;
                    padding: 5px;

                    b {
                        color: #8e8e8e;
                    }
                }
            }
        }
    }
}
