@import 'color';

html {
    background-color: #616161;
}

body {
    margin: 0;
}

.app {
    color: #FFF;

    .main-text {
        color: $primary-text;
    }

    .no-mb-rows > .row {
        margin-bottom: 0;
    }
}
