@import '../../assets/css/color';

.projects-container {
    text-align: center;
}

.project-view {
    padding-top: 68px;

    .project-content {
        width: 3000px;
    }
}

.project-settings-container {
    background-color: $modal-bg;
    display: flex;
    height: 100vh;
    left: 0;
    overflow: auto;
    padding: 25px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;

    .project-settings-content {
        background-color: $card-bg-light;
        margin: auto;
        padding: 0 20px;
        width: 80%;

        .collection {
            .collection-item {
                background-color: $card-bg-light;
            }
        }

        .user-info {
            padding-top: 4px;
        }
    }
}
