.projects-container {
    text-align: center;
}

.project-view {
    padding-top: 68px;

    .project-content {
        width: 3000px;
    }
}

.project-settings-container {
    height: 100vh;
    position: fixed;
    width: 100%;
}
